 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
*{
    box-sizing: border-box;
}
body{
font-family: 'Work Sans', sans-serif;
}
nav{
    background-color: #fff;
}
.nav-container{
    
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
   
}
.logo-container{

display: flex;
width: 50%;
}
.logo-container img{
    width: 90px;
     flex-shrink: 0;
    margin-right: 20px;
}
.logo-container p{
    font-size: 50px;
    font-weight: 700;
    
}
.game-section{
    color: #ff42a5;
}
.nav-items-container{

width: 50%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-items-container a{
    text-decoration: none;
    font-size: 18px;
    color: #3C354F;
}
.follow-btn{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 20px;
font-weight: 500;
}
.banner-container{
    
    max-width: 1400px;
    min-width: 50px;
    display: flex;
    
}
.banner-text{

width: 50%;
background-image: url(../images/Group\ 14.png);
}
.banner-img{

width: 50%;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-size: 95px;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}
.banner-text p{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.normal-text a{
    text-decoration: none;
    text-align: center;
    color: #534C64;
font-size: 20px;
font-weight: 500;
margin: 0 auto;

}
.banner-btn{
    color: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.banner-btn-1{
    color: #FFF;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
}

.grid-container{
    display: grid;
   
    max-width: 1400;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4,1fr);
}
.on-line{
    color: #0B0223;
text-align: right;
font-size: 48px;
font-weight: 700;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;

}
.text{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.game-video{

   
}
.game-video img{
    width: 342px;
height: 400px;
flex-shrink: 0;
}
.game-text{
    width: 342px;
    color: #534C64;
font-size: 20px;
font-weight: 500;
line-height: 30px;
}
